/*SEMANTIC GRID*/

$gridegap: 2%;

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -($gridegap / 2);
    margin-right: -($gridegap / 2);

    >* {
        margin:-($gridegap / 2);
        flex-grow: 1;
    }

    .one-whole { width: 100% - $gridegap; }
    .one-half { width: 50% - $gridegap; }
    .one-third { width: 33.3333% - $gridegap; }
    .one-third { width: 66.6666% - $gridegap; }
    .one-fourth { width: 25% - $gridegap; }
    .one-fourth { width: 75% - $gridegap; }
}

//FOR DEMO PERPOSES ONLY 

.demo {
   // border: 1px solid red;
    // box-shadow: inset 0 0 0 1px red;

    .row {
        // background-color: rgba(255,0,0,.1 );

        >* {
            background-color: rgba(0,0,0,.1);
            padding: 1%;
            box-shadow: inset 0 0 0 1px green;
        }
    }
}